numpy
pandas
scikit-learn
jupyterlab
jupyter-server-proxy
seaborn
matplotlib
jupytext
jupyter
netcdf4
regionmask
xarray
geopandas
tensorflow-gpu
dask
gdal
statsmodels
nodejs
pyproj
pydot == 1.4.2
pydotplus == 2.0.2
scikit-image == 0.19.3
joblib == 1.4.2
rioxarray == 0.11.0
cdsapi == 0.7.5
sqlite == 3.45.3